---
layout: layouts/base.njk
title: Now
date: Last Modified
permalink: /now/
createdDate: 2025-04-21
modifiedDate: 2026-09-19
eleventyNavigation:
  key: "Now"
  parent: "Home"
  title: "Now"
---

<h2>Now</h2>
<p>This is a
    <a href="https://nownownow.com/about">now</a>
    page and was last updated on
    <strong>
        <time datetime="{{ modifiedDate | date('yyyy-LL-dd') }}" title="{{ modifiedDate | readableStringDate }} (DD/MM/YYYY)">{{ modifiedDate | readableStringDate }}</time></strong>.
</p>
<h3>Life</h3>
<p>The start of the summer was hard; there was a heatwave around here, and I had many sleepless <small>(and sweaty)</small> nights. Thank goodness it's over now. We also just installed an air conditioning unit, so this will be my last summer with no aircon! 🥹</p>
<p>We're currently doing renovations around the house, and everything is so dusty all the time, bleh. But this is a "problem" that past me would definitely have been glad to have.</p>
<p>Lately I've been taking my health more seriously, and I've noticed important improvements, especially in my mental space <small>(basically, my baseline anxiety had been high for so long, I didn't realize it until I actually got better and noticed the difference 🥲)</small>. The improved mental health also makes taking care of my physical health less of a chore. <small>
        <small>I hope to get buff AF lol.</small>
    </small>
</p>
<h3>Work</h3>
<p>Yep, still working for the same company. In Spring I joined a new project, which involved a new team, new technologies... and it was hard to adjust (mostly because of my not-so-ideal mental space at the time). In preparation, I spent many hours learning, revising and <a href="https://notes.silvia.codes/" rel="external">taking notes</a>.
 Thankfully the transition went well, and I can finally rest easy. <small>For now! Haha.</small>
</p>
<h3>Bro, do you even read?</h3>
<p>I AM READING, IN FACT! (Can you tell I've been feeling better lately???).</p>
<p>In the past months I've finished <a href="https://app.thestorygraph.com/books-read/shirubia" rel="external">a few books</a>; including a couple of crime novels, which are fast to read and boost my motivation to keep going.</p>
<p>Right now I'm slowly reading <a href="https://app.thestorygraph.com/books/95f0cd8c-b0db-4eef-875c-5eff8b0bbbe3">Your Beauty Mark</a>,
by Dita Von Teese; I bought it second-hand but came in excellent condition. I had to buy a Bookseat (also second-hand lol) to be able to read it comfortably, because it's a big book - but it's a beautiful tome, with quality paper, full of color photographs... so luxurious, worth the purchase. It's a fascinating read; I'm loving Dita's beauty philosophy, and it's encouraging me to keep taking better care of myself.</p>
<p>Also, I <a href="https://www.reddit.com/r/WoT/comments/r8ty0p/comment/hq926q4/">found</a> an <a href="https://drive.google.com/drive/folders/1A9-bZTSjEPw3fR2kLTKSQaOgcHJukREh">abridged version of The Wheel of Time saga</a>, and it's going to be a lifesaver. I had put this series on hiatus after finishing book 6, because I wanted to know the story but the pacing was driving me nuts.</p>
<h3>Watching</h3>
<ul>
    <li>Live-action shows (I'm binging so much anime, I feel like I need to make the distinction): I finally started watching <em>Community</em>, which had been in my watchlist for a long time. It's good! I finally know where the <a href="https://media1.tenor.com/m/575Q0MQTupQAAAAC/on-fire-pizza.gif">pizza meme</a> comes from.</li>
    <li>Anime: The most notable one is <em>
            <a href="https://en.wikipedia.org/wiki/Monster_(manga)#Anime">Monster</a>
        </em>; I had started watching it back in the day, but never finished it. And... wow. It's a gem, is all I can say, and the soundtrack is eerily beautiful.</li>
</ul>

<h3>Playing</h3>
<p>I remembered my beloved <em>Wario Land</em> and played a bit on our Switch 2; I want to amass a fortune, so Wario can have the best castle!</p>
<p>Also, husbando bought <em>Pokopia</em> for me, because he knew I would like it. And who am I kidding: I absolutely love that game. In fact, I think it's ruined ACNH for me haha.</p>
{% include "partials/now-archive.njk" %}