---
layout: layouts/base.njk
title: Now
date: Last Modified
permalink: /now/
createdDate: 2025-04-21
modifiedDate: 2026-02-16
breadcrumb: '<a href="/">Home</a> &#187; <a href="/now">Now</a>'
---

<h2>Now</h2>
<p>This is a
    <a href="https://nownownow.com/about">now</a>
    page and was last updated on
    <strong>
        <time datetime="{{ modifiedDate | date('yyyy-LL-dd') }}" title="{{ modifiedDate | readableStringDate }} (DD/MM/YYYY)">{{ modifiedDate | readableStringDate }}</time></strong>.
</p>
<h3>Life</h3>
<p>We moved to the capital of Castellón a couple of months ago and, after living in a small town, this is so much
    Civilization™. I like it!
    <small>Still so many repairs and renovations to do... but what a blessing, to have a home to renovate!</small>
</p>
<p>We have a gym nearby, and I'm trying to go at least a couple of times a week
    <s>I'm so bad at this</s>.</p>
<h3>Work</h3>
<p>Still working for the same company, now doing more fullstack work (but leaning more into frontend, which is my thing).</p>
<p>During 2025 I had so many business trips I can now tolerate flights, and I've learned that traveling for work is
    usually super boring (I barely had time to see anything local and / or interesting 🥹 At least I brought some souvenirs!).</p>
<p>2026 will probably be quieter in terms of traveling, but we'll see...</p>
<h3>Bro, do you even read?</h3>
<p>
    <a href="https://app.thestorygraph.com/currently-reading/shirubia" rel="external">I'M TRYING</a>
    (BUT IT'S BEEN SO HARD) (I CAN FEEL MY BRAIN ROTTING)</p>
<h3>Watching</h3>
<p>The most relevant update is that I started watching
    <em>One Piece</em>
    with husbando (that made him so happy 😂). I've already watched more than 700 episodes and it's awesome!! Where has this
    anime been all my life???</p>
<p>I also re-watched
    <em>Ergo Proxy</em>
    (thank goodness I have it on DVD)
                    and I love it so, so much.</p>
<h3>Playing</h3>
<p>Still playing
    <em>Pokémon TCGP</em>
    with friends from time to time. Also went back to
    <em>Animal Crossing New Horizons</em>
    to keep building my forever island (and that's going sloooow, as most of the things I do). And I've also played a
    bit of
    <em>Diablo IV</em>. That's it.
</p>
<h3>Learning</h3>
<p>I need to knit more... yes, I finished that scarf (it was about time), but now I want to knit an improved one!</p>
<p>I've also been tinkering more with backend work, and learning a bit of React and Copilot (which is required for my
    line of work).</p>
{% include "partials/now-archive.njk" %}