---
layout: layouts/base.njk
title: Now
date: Last Modified
permalink: /now/
createdDate: 2025-04-21
modifiedDate: 2025-04-26
breadcrumb: '<a href="/">Home</a> &#187; <a href="/now">Now</a>'
---

<h2>Now</h2>
<p>This is a
    <a href="https://nownownow.com/about">now</a>
    page and was last updated on
    <strong>
        <time datetime="{{ modifiedDate | date('yyyy-LL-dd') }}" title="{{ modifiedDate | readableStringDate }} (DD/MM/YYYY)">{{ modifiedDate | readableStringDate }}</time></strong>.
</p>
<h3>Work & life</h3>
<p>Living in Castellón (it's been a year now!) with husbando♡. Still working as a software engineer, mostly focused on
    front-end development.</p>
<h3>Reading</h3>
<p>
    <a href="https://app.thestorygraph.com/currently-reading/shirubia" rel="external">Something, hopefully</a>
    (I really need to create a /reading page that fetches data from The Storygraph).</p>
<h3>Watching</h3>
<p>I'm watching a lot of anime these days, among other things:</p>
<ul>
    <li>The Witcher</li>
    <li>The Apothecary Diaries</li>
    <li>Somali and the Forest Spirit</li>
    <li>Ranking of Kings</li>
    <li>cozy YouTube channels (my guilty pleasure)</li>
</ul>
<h3>Playing</h3>
<p>I'm having fun playing
    <em>Pokémon Trading Card Game Pocket</em>
    with friends, and collecting pretty cards. I'm also playing
    <em>Ring Fit Adventure</em>
    to try and get some exercise into my schedule.
</p>
<h3>Learning</h3>
<p>Knitting 🧶 (I'm taking my time, <small>I will finish that scarf someday</small>). Tech-related: Springboot and RxJS (slowly also :) ).</p>