---
layout: layouts/base.njk
title: Contact
permalink: /contact/
breadcrumb: '<a href="/">Home</a> &#187; <a href="/contact">Contact</a>'
date: Last Modified
createdDate: 2023-10-10
---

<h2>Contact</h2>
<p>
    <small>I'm not the most social person, tbh.</small>
    But if you want to contact me, you can send me an e-mail at:</p>
<p class="email">
    <strong>the&#xFF20;sentimentalfuturist&#x2024;net</strong>
</p>
<p>
    (...but
    <a href="https://lea.verou.me/2009/11/yet-another-email-hiding-technique/" rel="external">don't copy/paste it</a>).
</p>
<p>If you don't mind leaving a public message, you can also contact me via the
    <a href="/guestbook">guestbook</a>.</p>
<h3>Find me elsewhere</h3>
<ul class="two-column">
    <li>
        <a href="https://app.thestorygraph.com/profile/shirubia" rel="external">The StoryGraph</a>
    </li>
    <li>
        <a href=" https://www.goodreads.com/shirubia" rel="external">Goodreads</a>
    </li>
    <li>
        <a href="https://sentimentalfuturist.tumblr.com/" rel="external">Tumblr</a>
    </li>
    <li>
        <a href="https://letterboxd.com/Shirubia/" rel="external">Letterboxd</a>
    </li>
    <li>
        <a href="https://app.tvtime.com/user/15046398" rel="external">TV Time</a>
    </li>
    <li>
        <a href="https://www.last.fm/user/Shirubia" rel="external">Last.fm</a>
    </li>
    <li>
        <a href="https://pokefarm.com/user/senti" rel="external">PokéFarm Q</a>
    </li>
    <li>
        <a href="https://pinboard.in/u:shirubia" rel="external">Pinboard bookmarks</a>
    </li>
    <li>
        <a href="https://github.com/Shirubia" rel="external">Github</a>
    </li>
    <li>
        <a href="https://tweets.sentimentalfuturist.net">Twitter archive</a>
    </li>
</ul>
<div class="metadata">
    <p>
        Page created:
        <time datetime="{{ createdDate | readableCreatedDate }}" title="{{ createdDate | readableCreatedDate }} (DD/MM/YYYY)">{{ createdDate|readableCreatedDate }}</time>, last updated:
        <time datetime="{{ page.date | date('yyyy-LL-dd') }}" title="{{ page.date | readableDate }} (DD/MM/YYYY)">
            {{ page.date | readableDate }}
        </time>
    </p>
</div>