---
layout: layouts/base.njk
title: Linklog
permalink: /linklog/
eleventyNavigation:
  key: "Linklog"
  parent: "Home"
  title: "Linklog"
date: Last Modified
createdDate: 2026-02-20
modifiedDate: 2026-02-20
---

<div class="linklog-list">
    {% for item in collections.linklog %}
        <div class="linklog-entry minimal h-entry">
            <div
                class="linklog-data">
                <!-- Favicon + title -->
                <div class="title">
                    <img
                        class="favicon"
                        src="https://www.google.com/s2/favicons?domain={{ item.data.externalUrl | url }}"
                        alt="favicon"
                        width="16"
                        height="16">
                        <a class="u-bookmark-of" href="{{- item.data.externalUrl -}}" target="_blank" rel="noopener">{{- item.data.title -}}
                        </a>
                    </div>
                    <!-- Date permalink -->
                    <div class="date">
                        <a class="dt-published" href="{{ item.url }}" title="Permalink">
                            <span class="permalink-icon">&#x1F517;</span>
                            {{- item.date | date("yyyy-MM-dd") -}}
                        </a>
                    </div>
                    <!-- Optional via -->
                    {% if item.data.via %}
                        <div class="via">via
                            <a href="{{ item.data.via }}" target="_blank" rel="noopener">
                                {{- item.data.via -}}
                            </a>
                        </div>
                    {% endif %}
                </div>
                <!-- Optional excerpt/comment -->
                {% if item.templateContent %}
                    <div class="e-content">{{ item.templateContent | safe }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>