footer {
  display: flex;
  justify-content: center;
  background-color: rgba(var(--color-highlight-low-rgb), 0.85);
  padding: 0;
  margin: 1rem 0 0 0;
  border-block-start: 1px solid var(--color-rose);
  border-block-end: 1px solid var(--color-rose);
  border-inline-start: 1px solid var(--color-rose);
  border-inline-end: 1px solid var(--color-rose);
  position: relative;

  &:after {
    content: "‒ □ ✕";
    display: inline-block;
    margin-inline-start: 5px;
    color: var(--color-rose);
    vertical-align: top;
    position: absolute;
    right: 10px;
  }

  nav {
    ul.footer-links {
      list-style: none;
      padding: 1rem;
      margin: 1.5rem 0 0 0;
      border-block-start: 1px solid var(--color-rose);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      gap: 1.2rem;
      font-size: 0.9rem;

      li {
        display: inline;
      }
    }
  }
}
