a {
  text-decoration: none;
  background: linear-gradient(to right, var(--color-love), var(--color-iris));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border-block-end: 1px dotted var(--color-love);

  &:hover {
    color: var(--color-foam);
    border-block-end: 1px dotted var(--color-foam);
    transition: all 0.5s ease-in-out;
  }

  &:has(img) {
    border-block-end: none;

    &:hover {
      border-block-end: none;
    }
  }
}

a[href^="http://"]:not([href*="sentimentalfuturist.net"]):not(.image-link):after,
a[href^="https://"]:not([href*="sentimentalfuturist.net"]):not(.image-link):after,
a[href^="//"]:not([href*="sentimentalfuturist.net"]):not(.image-link):after
{
  content: "↗";
}

.text-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 31px;
  line-height: 0.8;
  text-align: center;
  font-size: 0.8rem;
  font-variant: all-petite-caps;
  color: var(--color-love);
  border: 1px solid var(--color-text);
  background: var(--color-highlight-low);

  &:hover {
    color: var(--color-foam);
    border: 1px solid var(--color-text);
    transition: all 0.5s ease-in-out;
  }
}

.link-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem 0;
}
