/* --- Minimal Entries --- */
.linklog-entry.minimal {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0;
  border-bottom: 1px dotted var(--color-rose);
  margin-bottom: 1rem;

  .linklog-data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    .linklog-header {
      display: flex;
      flex: 0 1 400px;
      flex-direction: column;
      gap: 8px;
    }

    .title {
      display: flex;
      align-items: first baseline;
    }
  }

  span.permalink-icon {
    font-size: 0.85rem;
    margin-right: 0.25rem;
  }
}

.linklog-entry.minimal .favicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.25rem;
  vertical-align: middle;
}

.linklog-entry.minimal .via {
  color: var(--color-subtle);
  font-size: 0.85em;
  flex: 1 1 100%;
}

/* --- Dense Entries --- */
.linklog-entry.dense {
  padding: 1rem;
  margin-bottom: 1rem;

  .via,
  .date-added,
  time {
    color: var(--color-subtle);
    font-size: 0.9rem;
  }

  .via {
    display: flex;

    a {
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.linklog-entry.dense header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 1.5rem;
  padding-bottom: 10px;
  border-bottom: 1px dotted var(--color-iris);

  h3 {
    margin-block: 0;
  }

  a {
    display: inline-block;
    vertical-align: middle;
  }
}

.linklog-entry.dense .favicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.25rem;
  vertical-align: middle;
}

.e-content {
  margin-top: 0.5rem;
  font-size: 0.95em;
  line-height: 1.5;
}
