/* --- Minimal Entries --- */
.linklog-entry.minimal {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0;
  border-bottom: 1px dotted var(--color-rose);
  margin-bottom: 1rem;

  .linklog-data {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;

    .title {
      display: flex;
      align-items: center;
    }
  }

  span.permalink-icon {
    font-size: 0.85rem;
    margin-right: 0.25rem;
  }
}

.linklog-entry.minimal .favicon {
  border: 1px solid var(--color-foam);
  margin-right: 0.25rem;
}

// .linklog-entry.minimal a,
// .linklog-entry.minimal .link-category {
//   margin-right: 0.25rem;
// }

.linklog-entry.minimal .via {
  color: var(--color-subtle);
  font-size: 0.85em;
  flex: 1 1 100%;
}

/* --- Dense Entries --- */
.linklog-entry.dense {
  // border: 1px solid #ddd;
  // border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  // background: #fafafa;
}

.linklog-entry.dense header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.linklog-entry.dense .favicon {
  border-radius: 3px;
}

.e-content {
  margin-top: 0.5rem;
  font-size: 0.95em;
  line-height: 1.5;
}
