[data-theme="light"] {
  --color-base: rgb(250, 244, 237);
  --color-base-rgb: 250, 244, 237;

  --color-surface: rgb(255, 250, 243);
  --color-surface-rgb: 255, 250, 243;

  --color-overlay: rgb(242, 233, 222);
  --color-overlay-rgb: 242, 233, 222;

  --color-muted: rgb(152, 147, 165);
  --color-muted-rgb: 152, 147, 165;

  --color-subtle: rgb(137, 129, 153);
  --color-subtle-rgb: 137, 129, 153;

  --color-text: rgb(87, 82, 121);
  --color-text-rgb: 87, 82, 121;

  --color-love: rgb(180, 99, 122);
  --color-love-rgb: 180, 99, 122;

  --color-gold: rgb(234, 157, 52);
  --color-gold-rgb: 234, 157, 52;

  --color-rose: rgb(210, 132, 126);
  --color-rose-rgb: 210, 132, 126;

  --color-pine: rgb(40, 105, 131);
  --color-pine-rgb: 40, 105, 131;

  --color-foam: rgb(86, 148, 159);
  --color-foam-rgb: 86, 148, 159;

  --color-iris: rgb(144, 122, 169);
  --color-iris-rgb: 144, 122, 169;

  --color-highlight-low: rgb(244, 237, 232);
  --color-highlight-low-rgb: 244, 237, 232;

  --color-highlight-med: rgb(239, 231, 226);
  --color-highlight-med-rgb: 239, 231, 226;

  --color-highlight-high: rgb(229, 221, 216);
  --color-highlight-high-rgb: 229, 221, 216;
}
